<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Knv.DAQ.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Knv.Fun.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <Knv.DAQ.Properties.Settings>
            <setting name="SeriaPortName" serializeAs="String">
                <value />
            </setting>
            <setting name="TracingEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SamplePerSec" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Ai1Title" serializeAs="String">
                <value>Analog Input 1</value>
            </setting>
            <setting name="Ai1Multi" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Ai1Offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ai1Unit" serializeAs="String">
                <value>V</value>
            </setting>
            <setting name="Ai2Title" serializeAs="String">
                <value>Analog Input 2</value>
            </setting>
            <setting name="Ai2Multi" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Ai2Offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ai2Unit" serializeAs="String">
                <value>V</value>
            </setting>
            <setting name="Ai3Title" serializeAs="String">
                <value>Analog Input 3</value>
            </setting>
            <setting name="Ai3Multi" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Ai3Offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ai3Unit" serializeAs="String">
                <value>V</value>
            </setting>
            <setting name="Ai4Title" serializeAs="String">
                <value>Analog Input 4</value>
            </setting>
            <setting name="Ai4Multi" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Ai4Offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ai4Unit" serializeAs="String">
                <value>V</value>
            </setting>
            <setting name="Ao1Title" serializeAs="String">
                <value>Analog Output 1</value>
            </setting>
            <setting name="Ao1Multi" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Ao1Offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ao1Unit" serializeAs="String">
                <value>V</value>
            </setting>
            <setting name="Ao2Title" serializeAs="String">
                <value>Analog Output2</value>
            </setting>
            <setting name="Ao2Multi" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Ao2Offset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Ao2Unit" serializeAs="String">
                <value>V</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>1020, 894</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Ai1Samples" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Ai2Samples" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Ai3Samples" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Ai4Samples" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TraceViewAutoScroll" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ao1SelectedTab" serializeAs="String">
                <value>DC</value>
            </setting>
            <setting name="Ao2SelectedTab" serializeAs="String">
                <value>DC</value>
            </setting>
        </Knv.DAQ.Properties.Settings>
        <Knv.Fun.Properties.Settings>
            <setting name="SeriaPortName" serializeAs="String">
                <value />
            </setting>
        </Knv.Fun.Properties.Settings>
    </userSettings>
</configuration>